html
    head
        title Dostawy
        link(rel='stylesheet' href='/css/delivery.css')
        script(src="http://code.jquery.com/jquery-1.9.1.js")

        script.
            jQuery(document).ready(function($) {
                op = function (obj) {
                    $(obj).stop().slideToggle();
                };
            });




    body
        div#wrapper
            div#header
                h2 Dostawy
                div(style="text-align: center")
                    a(href="#" onClick="op('#search')") Sortowanie i filtrowanie
            div#formContainer
                form(method='GET' action='/api/deliveryData')
                    div.serachDiv(id = "search")
                        fieldset#sortContainer
                            legend Sortowanie
                            div.sortItem
                                select.form-control(name='sort' required)
                                    option(value='NoneDate' selected) Brak sortowania
                                    option(value='DateR') Data - rosnąco
                                    option(value='DateM') Data - malejąco
                                    option(value='PriceR') Cena - rosnąco
                                    option(value='PriceM') Cena - malejąco

                        fieldset#filterContainer
                            legend Filtrowanie
                            div.sortItem
                                input.form-control(type = 'number', name='Amount', placeholder='Ilość - więcej niż' min='1' max = '99999')
                            div.sortItem
                                input.form-control(type = 'text', name='NameProduct', placeholder='Nazwa - produkt')
                            div.sortItem
                                input.form-control(type = 'text', name='NameProducer', placeholder='Nazwa - producent')
                            div.sortItem-Date(style="float:left;")
                                input.form-control-noAnim(type = 'date', name='DateFrom', placeholder='Data - Od')
                            div.sortItem-Date(style="float:left;")
                                input.form-control-noAnim(type = 'date', name='DateTo', placeholder='Data - Do')
                            div(style="clear:both;")

                    div(style="clear:both;")

                    div#buttonHolder
                        button.btn(type='button', onclick="location.href='/'") Powrót
                        button.btn(type='submit') Szukaj


                div.show-data
                    if(data)
                        if(data.length)
                            table
                                tr
                                    th LP
                                    th ID
                                    th Produkt
                                    th Cena
                                    th Producent
                                    th Ilość
                                    th Data

                                    - for(let i = 0; i < data.length; i++)
                                        tr
                                            td #{i + 1}
                                            td #{data[i].IdProdukt}
                                            td #{data[i].ProduktNazwa}
                                            td #{data[i].ProduktCena}
                                            td #{data[i].ProducentNazwa}
                                            td #{data[i].Ilosc}
                                            td #{data[i].DostawaData}
                        else
                            h2 Brak danych które spełniają podane kryteria