html
    head
        title Produkt
        link(rel='stylesheet' href='/css/productCreate.css')
    body
        .shop-app(data-lightbox=showLightbox)
           div#wrapper
               div#header
                h2 Dodawanie nowych produktów
               div#formContainer
                   form(method='POST' action='/api/productCreate')
                       div.form-group
                           input.form-control(type='text', placeholder='Nazwa produktu' name='productName' maxlength="20" required)
                           if(errors && errors.productName)
                               span(style = 'color:red; font-size: 12px')
                                    p #{errors.productName.msg}

                       div.form-group
                           input.form-control(type='number', placeholder='Cena' name='productPrice' min = "1" max = "99999"  required)

                       div.form-group(style='float:left; margin-left: 410px')
                           select.form-control(name='componentList' required)
                               option(value='' disabled selected hidden) Podzespoły
                               each x in components
                                   option(value=x.ID_PODZESPOL) #{x.PROCESOR}, #{x.RAM}, #{x.HDD}, #{x.GPU}
                       div(style='float:left; margin-left: 10px')
                           button.btn(type='button', @click="formLightbox = true") Dodaj podzespoły
                       div(style='clear:both')

                       div.form-group(style='float:left; margin-left: 410px')
                           select.form-control(name='producerList' required)
                               option(value="" disabled selected hidden) Producent
                               each x in producers
                                   option(value=x.ID_PRODUCENT) #{x.NAZWA}
                       div(style='float:left; margin-left: 10px')
                           button.btn(type='button', @click="formLightbox1 = true") Dodaj producenta
                       div(style='clear: both')

                       if(formMessage.length)
                           h4 #{formMessage}

                       div.form-group
                           button.btn(type='button', onclick="location.href='/'") Powrót
                           button.btn(type='submit') Wyślij


               .lightbox(v-show="formLightbox == true" style="display: none;")
                   .lightbox__content
                       h4 Nowy podzespół
                       form.lightbox__form(action="/api/components" method="POST")
                            .lightbox__form-control
                                input.form-control(type='text', placeholder='Procesor' name='Processor' maxlength="255"  required)
                            .lightbox__form-control
                                input.form-control(type='text', placeholder='RAM' name='RAM' maxlength="255" required)
                            .lightbox__form-control
                                input.form-control(type='text', placeholder='HDD' name='HDD' maxlength="255" required)
                            .lightbox__form-control
                                input.form-control(type='text', placeholder='GPU' name='GPU' maxlength="255" required)
                            button.btn(type='button', @click="formLightbox = false") Anuluj
                            button.btn(type='submit') Wyślij

               .lightbox(v-show="formLightbox1 == true" style="display: none;")
                   .lightbox__content
                       h4 Nowy producent
                       form.lightbox__form(action="/api/producers" method="POST")
                           .lightbox__form-control
                               input.form-control(type='text' placeholder='Nazwa' name='ProdName' maxlength="255" required)
                           .lightbox__form-control
                               input.form-control(type='text' placeholder='Telefon' name='ProdTel' pattern="[0-9]{9}"
                               title = "Numer telefonu musi zawierać 9 cyfr" required)
                           .lightbox__form-control
                               input.form-control(type='text' placeholder='Ulica' name='ProdStreet' maxlength="90" required)
                           .lightbox__form-control
                               select.form-control(name='CityList' required)
                                    option(value="" disabled selected hidden) Miasto
                                    each x in cities
                                        option(value=x.KOD_POCZTOWY) #{x.MIEJSCOWOSC}
                           button.btn(type='button', @click="formLightbox1 = false") Anuluj
                           button.btn(type='submit') Wyślij

        script(src="https://cdn.jsdelivr.net/npm/vue" type="text/javascript")
        script(src="/js/app.js")